/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #5A2971, #9974AA 100%);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

header { 
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

h1 {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 2.0em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}  
    
form {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    position: relative;
}

textarea {
    border: none;
    resize: none;
    font: #000000;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 14px;
    background-color: #B59FC0;
}

.button {
    background-color: #625192;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover {
    background-color: #574983;
}

.button:active {
    transform: translateY(2px);
  }

.loader {
    position: absolute;
    margin-top: 120px;
    margin-left: 48%;
    z-index: 1;
}

.ide {
    margin: auto;
}

.select-slate {
    margin: auto;
    margin-top: 1%;
    top: 30px;
    right: 0;
    left: 0;
    height: 30px;
    width: 200px;
 }

 .select-slate select {
    border: 1px solid #9F79B3;
    font-size: 16px;
    height: 30px;
    width: 228px;
    background-color: #9974AA;
    color: white;
 }